.page {
  &__catalog {
    min-height: rem(200);
  }
}

.catalog {
  &__container {
  }

  &__filter-container {
  }

  &__items-container {
  }

  &__items {
    display: grid;
    gap: rem(20);
    grid-template-columns: repeat(4, 1fr);
  }
}
