.modal{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	padding: rem(10);
	&__content{
		padding: rem(25) rem(23);
		@media(max-width:$tablet){
			padding: rem(15);
		}
		background-color: #FFFFFF;
		border-radius: 5px;
		width: 100%;
		max-width: fit-content;
		flex: 1 1 auto;
		position: relative;
		max-height: 100%;
		overflow: scroll;
	}
	&__close{
		width: rem(21);
		height: rem(21);
		position: absolute;
		top: rem(25);
		right: rem(23);
		@media(max-width:$tablet){
			top: rem(15);
			right: rem(15);
		}
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		z-index: 1;
		transform: translateY(25%);
		span{
			display: block;
			width: rem(18);
			flex: 0 0 rem(2);
			border-radius: rem(1);
			background-color: #B7C2C9;
			transform-origin:  center;
		}
		span:first-child{
			transform: rotate(45deg);
		}
		span:last-child{
			transform: rotate(-45deg);
			margin-top: -2px;
		}
	}
}
.modal-enter {
	opacity: 0;
}
.modal-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.modal-exit {
	opacity: 1;
}
.modal-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
