// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		cursor: pointer;
		width: 100%;
		border-radius: 4px;
	}
	// .select__value
	&__value {
		display: flex;
		align-items: center;
		height: rem(30);
		padding: 0 rem(15);
		gap: 0;
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			align-self: stretch;
			flex: 0 0 24px;
			background: url("") center/contain no-repeat;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__head{
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 600;
		font-size: rem(18);
		line-height: math.div(35,18);
		color: #242328;
		padding: rem(18.5) rem(20);
		background: #FFFFFF;
		border: 1px solid #AFAFAF;
		border-radius: 10px;
		@media(any-hover: hover){
		  &:hover{
			  cursor: pointer;
		  }
		}
	}
	&__list{
		position: absolute;
		z-index: 10000;
		width: 100%;
		background-color: #ffffff;
		transition: max-height 0.3s ease;
		overflow:hidden;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	&__option {
		width: 100%;
		display: block;
		text-align: left;
		cursor: pointer;
		padding: 5px 15px;
		color: inherit;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}


}

// Тег
._select-tag {
	cursor: pointer;
}
