%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-search:before {
	content: "\e90d";
	color: #fff;
}
._icon-doc:before {
	content: "\e909";
}
._icon-program:before {
	content: "\e90a";
}
._icon-puzzle:before {
	content: "\e90b";
}
._icon-bigArrow:before {
	content: "\e900";
}
._icon-briefcase:after {
	content: "\e901";
}
._icon-Mail:before {
	content: "\e902";
}
._icon-Map:before {
	content: "\e903";
}
._icon-message:after {
	content: "\e904";
}
._icon-percent:after {
	content: "\e905";
}
._icon-Phone:before {
	content: "\e906";
}
._icon-send:before {
	content: "\e907";
}
._icon-smallArrow:before {
	content: "\e908";
}
._icon-arrow-about:before {
	content: "\e90c";
}
._icon-book:before {
	content: "\e90e";
}
._icon-calendar:before {
	content: "\e90f";
}
