.page {
  &__analysis {
    @include adaptiveValue("margin-bottom", 50, 25);
    padding: rem(25) 0;
    font-family: 'Gilroy';
  }
}

.analysis {
  &__container {
  }

  &__box {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    gap: rem(10);
    @media(max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__filter-box {
    flex: 1 1 auto;
  }

  &__grid {
    flex: 0 0 percent(1080, 1860);
    background-color: #EDF0F6;
    padding: rem(30);
    @include gridCards(fit, 250px, 353px, 10px); //$type: fit, $min: 280px, $max: 1fr, $gap: 30px
    border-radius: 20px;
    align-items: flex-start;
    @media(max-width:$tablet){
      display: block;
      margin: rem(10) 0;
    }
  }

  &__item {
    padding: rem(20) rem(30);
    @media(max-width:$tablet){
      padding: rem(15);
    }
    background-color: #FFFFFF;
    border: 1px solid #D0D6E4;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media(max-width:$tablet){
      &:not(:last-child){
        margin-bottom: rem(10);
      }
    }
    @media(max-width:$mobile){
      height: auto;
    }
    @media(any-hover: hover) {
      &:hover {
        @media(min-width:$tablet){
        background: radial-gradient(48.05% 101.92% at 84.71% 73.75%, #0528A3 0%, #244CCB 100%);
        color: #FFFFFF;
        cursor: pointer;

        .analysis-item__add {
          display: block;

        }
        .analysis-item__info{
          &:nth-child(1){
            svg path{
              fill:  #E1E1E1;
            }
          }
          &:nth-child(2){
            svg path{
              stroke:  #E1E1E1;
            }
          }
        }
        .analysis-item__title, .analysis-item__info-box, .analysis-item__price-id, .analysis-item__price-value {
          color: #FFFFFF;
        }

        }

      }
    }
  }
}

.analysis-filter {
  position: relative;
  .lds-roller{
    z-index: 100;
    top: 100%;
    right: initial;
    left: -1%;
    & div:after{
      background-color: #1C43C1;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(30);
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 30, 15);
    line-height: math.div(37, 30);
    color: #333333;
  }

  &__value {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    @include adaptiveValue("font-size", 22, 14);
    line-height: 1;
    color: #363B48;

    span {
      @include adaptiveValue("margin-left", 12, 10);
      font-weight: 550;
      @include adaptiveValue("font-size", 30, 18);
      line-height: 1;
      background: radial-gradient(48.05% 101.92% at 84.71% 73.75%, #0528A3 0%, #244CCB 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &__form {
    display: flex;
    width: 100%;
    @include adaptiveValue("gap", 20, 10);
    @media(max-width:$tablet){
        flex-direction: column;
    }
  }
}

.filter-form {
  &__input-box {
    position: relative;
    font-weight: 600;
    font-size: rem(18);
    line-height: math.div(35, 18);
    color: #242328;
    flex: 1 1 auto;
    & > svg{
      position: absolute;
      top: 50%;
      left: rem(20);
      transform: translateY(-50%);
    }
    &:focus {

    }

    .select {
      position: initial;

      &__body {
        position: initial;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: rem(18) rem(20);
        border: 1px solid #AFAFAF;
      }

      &__options {
        top: initial;
        top: 100%;
        z-index: 5;
      }

      &__value {
        padding: 0;
      }
    }
  }

  &__input {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: rem(18.5) rem(60);
    border: 1px solid #AFAFAF;
    height: 100%;
    &:focus {
      outline: none;
      border: 1px solid #1C43C1;
    }
  }

  &__input-checkboxes {
    display: flex;
    gap: rem(18);

  }

  &__input-checkbox {
    input {
      display: none;
    }

    flex: 1 1 auto;

    input + label {

      display: flex;
      align-items: center;
      justify-content: space-between;
      @media(any-hover: hover) {
        &:hover {
          cursor: pointer;
          background: radial-gradient(48.05% 101.92% at 84.71% 73.75%, #0528A3 0%, #244CCB 100%);
          color: #FFFFFF;
          &:after {
            border-color: #FFFFFF;
            background-color: #8EA8FF;
          }

        }
      }

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        border: 2px solid #254DCC;
        border-radius: 50%;

      }
    }

    input:checked + label {
      background: radial-gradient(48.05% 101.92% at 84.71% 73.75%, #0528A3 0%, #244CCB 100%);
      color: #FFFFFF;

      &:after {
        border-color: #FFFFFF;
        background-color: #8EA8FF;
      }
    }
  }
}

.analysis-item {
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 28, 16);
    line-height: math.div(40, 28);
    @include adaptiveValue("margin-bottom", 40, 10);
    /* identical to box height, or 143% */

    letter-spacing: 0.02em;

    color: #363B48;

  }

  &__info-box {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    font-weight: 600;
    font-size: rem(18);
    @include adaptiveValue("font-size", 18, 14);
    line-height: math.div(22, 18);
    @include adaptiveValue("margin-bottom", 50, 20);
    letter-spacing: 0.02em;
    color: #717C97;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: rem(15);
    &:nth-child(1){
      svg path{
        fill:  #7E91D6;
      }
    }
    &:nth-child(2){
      svg path{
        stroke:  #7E91D6;
      }
    }
  }

  &__price-box {
  }

  &__price-id {
    font-weight: 600;
    @include adaptiveValue("font-size", 18, 12);

    line-height: math.div(22,18);
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #717C97;
    margin-bottom: rem(10);
  }

  &__price-value {
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 14);
    line-height: math.div(40,40);
    /* identical to box height, or 100% */
    letter-spacing: 0.02em;

    color: #363B48;

  }

  &__add {
    position: absolute;
    width: 80px;
    height: 80px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    bottom: rem(24);
    right: rem(30);
    display: none;
    background: url("../img/plus.svg") 50% 50% no-repeat, #FFFFFF;
    transition: box-shadow 0.5s ease;

    &:active {
      box-shadow: 4px 4px 0px rgba(0, 0, 0, 0);

    }
  }
}
