.page {
  &__fscreen {
    font-family: 'Gilroy';
    margin-top: rem(10);
    color: #FFFFFF;

  }
}

.fscreen {
  &__container {
  }

  &__box {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(94.88deg, #0834A6 0.42%, #245DE0 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: rem(50);
    padding-top: rem(40);
    z-index: 2;
    position: relative;
    flex: 0 0 80%;
    @media(max-width: $mobile) {
      padding: rem(20);
    }
  }

  &__text {
    @include adaptiveValue("margin-bottom", 91, 40);
    max-width: rem(881);
  }

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 70, 27);
    line-height: 1;
    /* or 100% */

    letter-spacing: 0.02em;
    @include adaptiveValue("margin-bottom", 26, 15);
  }

  &__subtitle {
    font-weight: 400;
    @include adaptiveValue("font-size", 18, 13);
    line-height: math.div(25, 18);
  }

  &__info-items {
    display: flex;
    gap: rem(10);
    flex-wrap: wrap;
  }

  &__info-item {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    @media(any-hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4);

        .fscreen-item__image {
          path {
            fill: #FFFFFF;
          }
        }
      }
    }
    border: 1px solid #C4C4C4;
    border-radius: 5px;
  }

  &__image {
    position: absolute;
    width: rem(687);
    right: 0;
    height: 100%;
    z-index: 1;
    @media(max-width:$tablet){
      width: 100%;
      opacity: 0.2;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.fscreen-item {
  &__name {
    display: flex;
    gap: rem(7);
    align-items: center;
    @include adaptiveValue("font-size", 18, 13);
    line-height: 1;
    padding: rem(21) rem(30);

    span {
      font-weight: 600;
      text-transform: uppercase;
      flex: 1 1 auto;
      white-space: nowrap;
    }
  }

  &__value {
  }

  &__border {
    flex: 0 0 1.46341px;
    height: 100%;
    position: relative;

    span {
      position: absolute;
      background-color: #C4C4C4;
      width: 100%;
      height: 30%;
    }

    span:first-child {
      top: 0;
    }

    span:last-child {
      bottom: 0;
    }
  }

  &__image {
    width: rem(32);
    flex: 0 0 rem(31);
    position: relative;
    margin: 0 rem(22);
    path {
      transition: fill 0.3s ease;
      fill: #85A8FF;
    }
  }
}
