.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: rem(10) 0;
  background-color: #FFFFFF;
  z-index: 9998;
  width: 100%;
  &.scroll{
    transition: transform 0.3s ease;
  }
  &.scroll-down{
    transform: translateY(-100%);
  }
  &.scroll-up{
    transform: translateY(0%);
  }
  & + section{
    @include adaptiveValue("margin-top", 155, 130);
  }
  &__container {
  }

  &__first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
    padding: rem(9.5) 0;
    position: relative;
  }

  &__logo {
    position: relative;
    padding-bottom: rem(45);
    flex: 0 0 rem(166);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }

  &__menu {
    @media(max-width: $tablet) {
      position: absolute;
      top: 0;
      left: -15px;
      padding: rem(10);
      width: 100vw;
      height: 100vh;
      overflow: scroll;
      background-color: #fff;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: rem(20);
      z-index: 1000;
      .menu-open & {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(20);
    @media(max-width: $tablet) {
      flex: 1 1 auto;

    }
    @media(max-width: $mobile) {
      flex-wrap: nowrap;
      gap: rem(10);

    }
  }

  &__contact {
    display: flex;
    align-items: center;
    column-gap: rem(12);
    font-weight: 550;
    @include adaptiveValue("font-size", 16, 10);
    line-height: math.div(20, 16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2961E0;

    margin-left: auto;
    @media(max-width: $tablet) {
      &:last-of-type{
        display: none;
      }
    }
    @media(max-width: $mobile) {

    }
  }

  &__open-menu {
    @media(min-width: $tablet) {
      display: none;
      width: fit-content;
    }

    .menu-open & {
      position: absolute;
      z-index: 1001;
      height: rem(25);
      top: 5px;
      right: 11px;
    }

    flex: 0 0 rem(66);
    background: linear-gradient(93.79deg, #E77725 0%, #EDAD13 100%);
    border: 1px solid #E77725;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: rem(45);

    span {
      position: absolute;
      display: block;
      top: calc(50%);
      left: calc(50% - 15.15%);
      height: 1px;
      width: percent(20, 66);

      background-color: #FFFFFF;
    }

    span:nth-child(2) {
      .menu-open & {
        display: none;
      }
    }

    span:first-child {
      top: calc(50% - 5px);
      left: calc(50% - 12.12%);
      width: percent(16, 66);

      .menu-open & {
        transform: rotate(45deg) translate(4px, 4px);
        transform-origin: center;
      }
    }

    span:last-child {
      top: calc(50% + 5px);
      left: calc(50% - 12.12%);
      width: percent(16, 66);

      .menu-open & {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }

  &__second {

  }

  &__actions {
    min-height: rem(60);
    @media(max-width:$tablet){
      min-height: rem(45);

    }
    display: flex;
    gap: rem(10);
  }

  &__action {
    &:last-child {
      flex: 1 1 auto;
    }

    &.basket {
      position: relative;
      @media(max-width:$tablet){
        button {
            background: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          }
        svg{
          width: rem(16);
          height: rem(16);
        }
      }
      span {
        position: absolute;
        top: rem(7);
        @include adaptiveValue("top", 7, 15);
        right: rem(10);
        @include adaptiveValue("right", 10, 15);
        z-index: 1;
        font-weight: 550;
        @include adaptiveValue("font-size", 16, 10);
        line-height: 1;
        letter-spacing: 0.03em;
        color: #CD1212;
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("width", 25, 12);
        @include adaptiveValue("height", 25, 12);
        background-color: #FFFFFF;
        border-radius: 50%;
      }
    }
  }
}

.menu {
  &__body {
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("font-size", 16, 10);
    line-height: math.div(11, 16);
    font-weight: 550;
    letter-spacing: 0.03em;
    @media(max-width: $tablet) {
      flex-direction: column;
    }
    @media(max-width: $tablet) {
      font-size: rem(18);
    }
    @include adaptiveValue("gap", 40, 15);
  }

  &__item {
  }

  &__link {
  }

  &__mobile {
    @media(min-width: $tablet) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    gap: rem(10);

    & > div {
      flex: 0 0 50%;
      padding: rem(10);
    }
  }
}

._icon-tel {
}


.search {
  border: 1px solid #CCCCCC;
  flex: 0 0 percent(994, 1731);
  @media(max-width: $tablet) {
    flex: 1 1 auto;
  }
  padding: rem(20) rem(30);
  @media(max-width:$tablet){
      padding: 0 rem(10);
  }
  &__form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    height: 100%;
    width: 100%;
    outline: none;
    @media(max-width:$tablet){
      font-size: rem(16);
    }
  }
}

.mobile__actions {
  @media(min-width:$tablet){
    display: none;
  }
  display: flex;
  gap: rem(10);
  flex: 0 0 rem(66);

  .header {
    &__action {
      flex: 0 0 rem(28);
      height: rem(28);
      background-color: #337FF9;
      border-radius: 1000px;

      a {
        color: #fff;
      }

      a > span {
        display: none;
      }
    }
  }
}

._icon-basket {
  path {
    stroke: #FFFFFF;

  }

}

