.page {
  &__main {
    .catalog &{
      margin-top: rem(24);
    }
  }
}

.main {
  @include adaptiveValue("padding-bottom", 18, 10);

  &__container {
    position: relative;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    @include adaptiveValue("font-size", 30, 15);
    line-height: math.div(37, 30);
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(94.88deg, #0834A6 0.42%, #245DE0 100%), #EDF0F6;
    border-radius: 10px;
    padding: rem(20) 0;
    position: relative;
    span{
      display: flex;
      align-items: center;
      position: absolute;
      left: rem(10);
      p{
        font-weight: 600;
        font-size: rem(18);
        line-height: 1;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.8);
        @media(max-width:$mobile){
          display: none;
        }
      }
      svg{
        width: rem(24);
        height: rem(24);
      }
    }


    @media(max-width: $tablet) {
      padding: rem(15) 0;
    }
  }
}
