.reviews {
  &__slider {
    margin-top: rem(20);
    @include adaptiveValue("margin-bottom", 50, 25);
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #FFFFFF;
      z-index: 10;
      left: -100%;
    }
  }

  &__wrapper {
  }

  &__slide {
    min-height: 100%;
  }

  &__card {
    background-color: #fff;
    padding: rem(30);
    border: 1px solid #D0D6E4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: rem(30);
  }

  &__slider-buttons {
    margin-top: rem(20);
  }
  &__title{
    .reviews-page &{
      display: none;
    }
  }
  &__button{
    @include adaptiveValue("margin-bottom", 30, 10);
  }
}

.reviews-card {
  &__header {
    display: flex;
    align-items: center;
    gap: rem(20);
    

  }
  &__rating{
    display: flex;
    gap: rem(7);
    align-items: center;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(25,20);
    
    text-align: justify;
    color: #363B48;
  }

  &__info-box {
  }

  &__info-name {
    font-weight: 550;
    font-size: rem(22);
    line-height: 1;
    /* identical to box height */
    margin-bottom: rem(10);
    letter-spacing: 0.03em;

    color: #000000;

  }

  &__info-date {
    font-weight: 400;
    font-size: rem(16);
    line-height: 1;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #B6BFD5;

  }

  &__img-ibg {
    padding-bottom: rem(60);
    flex: 0 0 rem(60);
    border-radius: 50%;
    overflow: hidden;
  }

  &__text {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: rem(16);
    line-height: math.div(25, 16);
    text-align: justify;
    color: #363B48;
    flex: 1 1 auto;
  }
}

