.single-page {
  margin: rem(20) 0;
  @media(max-width:$tablet){
    margin-top: 0;
  }
}

.single-page-box {
  background: #EDF0F6;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: rem(30);
}

.single-page-items {
  display: grid;

  gap: rem(10);
  &_number_2 {
    grid-template-columns: 1fr 1fr;
    @media(max-width:$mobile){
      grid-template-columns: 1fr;
    }
  }
  &_number_4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media(max-width:$tablet){
      grid-template-columns: 1fr 1fr;
    }
    @media(max-width:$mobile){
      grid-template-columns: 1fr;
    }
  }
}
.single-page-title{
  font-weight: 600;
  font-size: rem(45);
  line-height: math.div(55,45);
  letter-spacing: 0.03em;
  color: #363B48;
  margin-bottom: rem(30);
}

.single-page-pagination {
}
